_pycache__/
.alert_state/
.DS_Store
.env
.idea/
.night_mode
.presence_state
.Python
.scheduler_state
.vscode/
*.egg-info/
*.log
*.py[cod]
*.so
*.swo
*.swp
*$py.class
build/
config/.env
config/config.local.yaml
data/location.json
dist/
env/
Thumbs.db
.venv/
